/*Style for the article*/
article.all-the-tweets {
  background-color: #d3d3d34f;
  border-radius: 5px;
  border-style: ridge;
  border-color: #8080805c;
  border-width: 2px;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 40px;
}

/*Style for the header*/
article.all-the-tweets header {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;
  opacity: 0.7;
}

/*Style for the tweet name*/
span.tweet-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

/*Style for the tweet username*/
span.tweet-username {
  margin-left: auto;
  margin-top: 7px;
  font-size: 12px;
  font-style: italic;
}

/*Style for the profile picture*/
img.profile {
  height: 75px;
  width: 75px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
}

/*Style for the tweet-text*/
p.tweet-text {
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
}

/*Style for the footer*/
article.all-the-tweets footer {
  background-color: white;
  height: 45px;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: lightgrey;
  padding: 12px;
}

/*Style for the time spent of a tweet*/
span.time-past {
  font-size: 14px;
}

/*Style for the flag icon*/
i.first-icon {
  float: right;
}

/*Style for the retweet icon*/
i.second-icon {
  padding-left: 8px;
  padding-right: 8px;
  float: right;
}

/*Style for the heart*/
i.third-icon {
  float: right;
}

/*Style for the article-header hover*/
article:hover header {
  opacity: 1.1;
}

/*Style for all the icons in the footer*/
.footer-icon {
  opacity: 0;
}

/*Style for icons hover*/
article:hover .footer-icon {
  opacity: 1.1;
  color: #00a087;
}
