/*Style for the Nav-Bar*/
#nav-bar {
  top: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left:  2em;
  padding-right: 2em;
  display: flex;
  align-items: center;
}

/*Style for the Logo*/
#nav-bar .logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

/*Style for the Header*/
#nav-bar .header {
  font-size: 200%;
  display: inline-block;
}

/*Style for the Compose Button*/
input.compose-button {
  margin-left: 40.5%;
  order: 10;
  width: 7em;
  height: 3.5em;
  border-radius: 7px;
  border-style: solid;
  border: solid 1.5px black;
  background-color: white;
  opacity: 0.7;
  color:#00a087;
  font-size: larger;
  font-weight: bold;
}

/*Style for button-hover*/
input.compose-button:hover {
 opacity:1.1;
}
