/*Style for Nav-Bar*/
#nav-bar {
  top: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left:  2em;
  padding-right: 2em;
  display: flex;
  align-items: center;
}

/*Style for Logo - Image*/
#nav-bar .logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

/*Style for Header*/
#nav-bar .header {
  font-size: 200%;
}

/*Style for Compose Bouton*/
input.compose-bouton {
  margin-left: 30em;
  align-self: auto;
  width: 7em;
  height: 3.5em;
  border-radius: 7px;
  border-style: solid;
  border: solid 1.5px black;
  background-color: white;
  opacity: 0.7;
  color:#00a087;
  font-size: larger;
  font-weight: bold;
}

input.compose-bouton:hover {
 opacity:1.1;
}