/*Style for the main container*/
main.container {
  display: flex;
}

/*Style for the section post a tweet*/
section.new-tweet {
background-color: #d3d3d34f;
padding-left: 2em;
padding-right: 2em;
border-radius: 5px;
border-style: ridge;
border-color: #8080805c;
border-width: 2px;
margin-left: 2em;
margin-right: 2em;
margin-bottom: 60px;
}

/*Style for the heading for a new tweet*/
section.new-tweet h2 {
border-bottom: 1px solid;
}

/*Style for the form of a new tweet*/
section.new-tweet form {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 10px;
}

/*Style for the textarea of the new tweet*/
section.new-tweet form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
}
